<div class="row">
  <div class="col-8">
    <label for="files" class="btn btn-default p-0">Choose file
      <input type="file" id="files" accept=".txt"
             (change)="selectFile($event)"/>
    </label>
  </div>

  <!--  <div class="col-4">
      <button
        class="btn btn-success btn-sm"
        [disabled]="!selectedFiles"
        (click)="upload()"
      >
        Upload
      </button>
    </div>-->
</div>

<!--<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>-->

<!--<div *ngIf="fileContent" class="alert alert-secondary" role="alert">-->
<!--  <img [src]="fileContent">-->
<!--</div>-->

<!--<div *ngIf="message" class="alert alert-secondary" role="alert">
  {{ message }}
</div>-->

<div *ngIf="fileInfos.length" class="card mt-3">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush" *ngFor="let file of fileInfos">
    <li class="list-group-item" (click)="showFile(file)">
      {{ file.name }} - {{ file.size }}kb - {{file.uploadDatetime | date:'YY.MM.dd - HH:mm:ss'}}
    </li>
  </ul>
</div>

<div *ngIf="fileContent" class="card mt-3">
  <div class="card-header">File's content</div>
  <p>{{fileContent}}</p>
</div>
