<div class="container" style="width: 600px">
  <div class="my-3">
    <a rel="alternate" href="https://www.teramind.co/feed">Endpoint User Activity Monitoring Software - TERAMIND</a>
    <h5>Insider Threat Detection &amp; Employee Monitoring</h5>
    <h4>{{ title }}</h4>
  </div>

  <app-file-upload></app-file-upload>
</div>
